<section id="aboutUs" class="secPad">
<div class="container">
  <div class="heading text-center">
    <!-- Heading -->
    <h2>I am Marek, a full-stack developer</h2>
    <p>Design, create and ship it</p>
  </div>
  <div class="row">
    <!-- item -->
    <div class="col-md-4 text-center tileBox">
     <div class="txtHead"> <i class="fa fa-cogs"></i>
      <h3>Test <span class="id-color">Driven Development</span></h3></div>
      <p>Software without solit tests will be your darkest nightmare. I want to sleep well at night, that is why all the software I'm creating are driven by unit and integration tests.</p>
    </div>
    <!-- end: -->

    <!-- item -->
    <div class="col-md-4 text-center tileBox">
      <div class="txtHead"><i class="fa fa-area-chart"></i>
      <h3>Continous <span class="id-color">Deployment</span></h3></div>
      <p>I strongly believe in continous deployment, so minimizing the time between feature development, testing and pushing to the production is my goal.</p>
    </div>
    <!-- end: -->

    <!-- item -->
    <div class="col-md-4 text-center tileBox">
      <div class="txtHead"><i class="fa fa-cloud"></i>
      <h3>Cloud <span class="id-color">Computing</span></h3></div>
      <p>During my work with Atmosphere cloud system I gained deep understanding of different cloud platforms, such as Open Stack, Amazon, Rackspace and Google Compute.</p>
    </div>
    <!-- end: -->
  </div>
</div>
</section>