<!--Experience-->
<section id="experience" class="secPad">
  <div class="container">
    <div class="heading text-center">
      <!-- Heading -->
      <h2>Professional Experience</h2>
      <p>During 10 years of my career I was involved in many projects. Take a look what I done and what I'm doing right now.</p>
    </div>
    <div id="timeline">
      <div class="row timeline-movement timeline-movement-top">
        <div class="timeline-badge timeline-future-movement">
          <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="timeline-badge timeline-filter-movement">
          <a href="#"><span class="glyphicon glyphicon-time"></span></a>
        </div>
      </div>


      <div class="row timeline-movement">
        <div class="timeline-badge">
          <span class="timeline-balloon-date-day">Jan</span>
          <span class="timeline-balloon-date-month">2015</span>
        </div>

        <div class="col-sm-offset-6 col-sm-6  timeline-item">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
              <div class="timeline-panel debits">
                <ul class="timeline-panel-ul">
                  <li><span class="importo">PlgApp</span> <small class="text-muted pull-right">Cyfronet, Open Source</small></li>
                  <li><span class="causale">
                    <a href="https://github.com/dice-cyfronet/plgapp">PlgApp</a> is a platform for hosting lightweight web applications using PL-Grid high performance computing infrastructure.
                    In the scope of this project I learned how to integrate RoR application with Dropbox synchronization mechanism.
                  </span> </li>
                  <li><small class="causale">Ruby on Rails, Bootstrap, Dropbox</small></li>
                  <li><p><small class="text-muted"> 29/01/2015 - Present</small></p> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row timeline-movement">
        <div class="timeline-badge">
          <span class="timeline-balloon-date-day">Nov</span>
          <span class="timeline-balloon-date-month">2014</span>
        </div>

        <div class="col-sm-offset-6 col-sm-6  timeline-item">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
              <div class="timeline-panel debits">
                <ul class="timeline-panel-ul">
                  <li><span class="importo">PlanKRK</span> <small class="text-muted pull-right">Open Source</small></li>
                  <li><span class="causale">
                    <a href="https://github.com/Nuanda/plankrk">Kraków zoning application</a> is a work in progress, proff of concept solution to show the local government
                    how open data can be used by the community to deliver new tools important for the citizens. It will
                    allow to browse, discuss and report comments to Kraków zoning plans.
                  </span> </li>
                  <li><small class="causale">Ruby on Rails, Bootstrap, JQuery, Leaflet</small></li>
                  <li><p><small class="text-muted"> 27/11/2014 - Present</small></p> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">Apr</span>
        <span class="timeline-balloon-date-month">2012</span>
    </div>


    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">PLGrid Plus</span> <small class="text-muted pull-right">Cyfronet</small></li>
                        <li><span class="causale">
                            In the scope of this project I had a pleasure to be a co-author of <a href="https://gitlab.dev.cyfronet.pl/groups/datanet">Datanet</a> - lightweight metadata
                            and data menagement platform integrated with PL-Grid infrastructure.
                        </span> </li>
                        <li><small class="causale">Technology used: Spring, GWT, MVP, Cloud Foundry, Grape</small></li>
                        <li><p><small class="text-muted"> 01/04/2012 - 31/12/2014</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">Mar</span>
        <span class="timeline-balloon-date-month">2011</span>
    </div>

    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">VPH-Share</span> <small class="text-muted pull-right">Cyfronet</small></li>
                        <li><span class="causale">
                            VPH-Share develops the organisational fabric and integrates optimized services to expose and share data and knowledge.
                            In this project I'm a main developer of <a href="https://github.com/dice-cyfronet/atmosphere">Atmosphere</a> cloud platform and creator or small library - <a href="https://github.com/dice-cyfronet/redirus">Redirus</a> -
                            responsible for managing http/https redirections.
                        </span> </li>
                        <li><small class="causale">Technology used: Ruby, Ruby on Rails, Bootstrap, Fog</small></li>
                        <li><p><small class="text-muted">01/03/2011 - 31/05/2015</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
      <div class="row">
        <div class="col-sm-11">
          <div class="timeline-panel credits">
            <ul class="timeline-panel-ul">
              <li><span class="importo">Jagiellonian University</span></li>
              <li><span class="causale">
                Thanks to collaboration with Jagiellonian University I was able to see how PhD students report progress
                in their dissertation. Mostly I was time consuming, anoying, mostly manual process of filling doc
                documents with a lot of visits in university secretariat. I proposed and deployed an integrated web based solution -
                Doktoranckie Rozliczenie Aktywności Naukowej (Dran) which simplify this process.
              </span> </li>
              <li><p><small class="text-muted"> 18/02/2014 - Present</small></p> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Dran</span> <small class="text-muted pull-right">Jagielonian University</small></li>
                        <li><span class="causale">
                            Dran simplify the way how PhD studens reports their progress in preparing the disseration. I created first Dran
                            version using PHP and Symfony framework, next it was redesigned and reimplemented using Ruby on Rails. Every year
                            it is updated (if needed) to be in aligh with Jagiellonian University regulations.
                        </span> </li>
                        <li><small class="causale">Technology used: Symfony, Ruby on Rails, Bootstrap, JQuery</small></li>
                        <li><p><small class="text-muted">01/05/2011 - Present</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Elsevier</span></li>
                        <li><span class="causale">
                            After winning <a href="http://www.executablepapers.com">Executable paper grand challenge</a> my team
                            was asked by Elsevier to integrate with SciendeDirect and deploy proposed solution - Collage - into
                            <a href="https://collage.elsevier.com">Elsevier intrastructure</a>.
                        </span> </li>
                        <li><p><small class="text-muted">1/06/2011 - 31.12.2012</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Collage</span> <small class="text-muted pull-right">Elsevier</small></li>
                        <li><span class="causale">
                            Basing on GridSpace technology with our friends we created solution for executable scientific papers.
                            Thanks to cooperation with Elsevier publisher we integrated Collage with ScienceDirect where you can
                            read scientific paper and execute calculation described in the scope of the publication.
                        </span> </li>
                        <li><small class="causale">Technology used: Spring, GWT. JQuery</small></li>
                        <li><p><small class="text-muted">1/06/2011 - 31.12.2012</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">Feb</span>
        <span class="timeline-balloon-date-month">2010</span>
    </div>

    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">UrbanFlood</span> <small class="text-muted pull-right">Cyfronet</small></li>
                        <li><span class="causale">
                            In the scope of UrbanFlood project I was creating Common Information Space responsible for connecting
                            distributed resources into Early Warning Systems for preventing flooding.
                        </span> </li>
                        <li><small class="causale">Technology used: Spring, OSGI, JClouds, JQuery</small></li>
                        <li><p><small class="text-muted"> 18/02/2014 - Present</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">Jun</span>
        <span class="timeline-balloon-date-month">2009</span>
    </div>

    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">PL-Grid</span> <small class="text-muted pull-right">Cyfronet</small></li>
                        <li><span class="causale">
                            During PL-Grid project with DICE team we created GridSpace Workbench for rapid scientific experiments creation.
                        </span> </li>
                        <li><small class="causale">Technology used: Spring, GWT</small></li>
                        <li><p><small class="text-muted">01/06/2009 - 31/12/2012</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Cossmit</span> <small class="text-muted pull-right">Comarch</small></li>
                        <li><span class="causale">
                            I was the main developer of Comarch OSS modelling tool which was responsible for simplifying the way how
                            business objects are modelled and persistent in Comarch OSS Suit.
                        </span> </li>
                        <li><small class="causale">
                            Technology used: Eclipse RCP, EMF, GMF, ATL, XSLT
                        </small></li>
                        <li><p><small class="text-muted">01/10/2009 - 31/03/2011</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">Feb</span>
        <span class="timeline-balloon-date-month">2008</span>
    </div>


    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">MOST</span> <small class="text-muted pull-right">Comarch</small></li>
                        <li><span class="causale">
                            During Marrying Ontology and Software Technology (MOST) project I was investigating
                            how ontology can be used to assembly and validate physical devices in Comarch OSS Suite.
                        </span> </li>
                        <li><small class="causale">Technology used: Eclipse RCP, EMF, GMF, ATL, Ontology</small></li>
                        <li><p><small class="text-muted">01/02/2008 - 31/03/2011</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row timeline-movement">


    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">Mar</span>
        <span class="timeline-balloon-date-month">2006</span>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">ACC Cyfronet AGH</span></li>
                        <li><span class="causale">
                            I joined <a href="http://dice-cyfronet.github.io/">Distributed Computing Environment Team</a> where we are creating
                            tools for scientists simplifying usage of Grid and Cloud infrastructures.
                        </span> </li>
                        <li><p><small class="text-muted">1/03/2006 - Present</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Virolab</span><small class="text-muted pull-right">Cyfronet</small></li>
                        <li><span class="causale">
                            The ViroLab Project developed a virtual laboratory for research in the area of infectious diseases.
                            My role was to create repository storing information about distributed computing resources used to
                            create virological workflows. See <a href="https://eu.sharepoint.com/Documents/Grid%20resource%20registry%20-%20Abstract%20Layer%20for%20Computational%20resources%202011-033.pdf">this publication</a> for details</span> </li>
                        <li><small class="causale">Technology used: Spring, Hibernate, GWT, Eclipse RCP</small></li>
                        <li><p><small class="text-muted">01/03/2006 - 31/08/2009</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">School of Banking and Management</span></li>
                        <li><span class="causale">
                            In the scope of Computer Science course I'm teaching students distributing computing.
                        </span> </li>
                        <li><p><small class="text-muted">1/10/2006 - Present</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Gredia</span><small class="text-muted pull-right">Cyfronet</small></li>
                        <li><span class="causale">
                            In GREDIA Project I was involved in preparing a system for access to multimedia data on the Grid,
                            in the context of business applications.</span> </li>
                        <li><small class="causale">Technology used: Spring, Hibernate</small></li>
                        <li><p><small class="text-muted">01/10/2006 - 31/03/2009</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


</div>
<div class="row timeline-movement">
    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">Apr</span>
        <span class="timeline-balloon-date-month">2004</span>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Comarch</span></li>
                        <li><span class="causale">I started my first job in Comarch Telecommunication RND department.</span> </li>
                        <li><p><small class="text-muted"> 01/04/2004 - 31/03/2011</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Comarch Web OSS Suite</span> <small class="text-muted pull-right">Comarch</small></li>
                        <li><span class="causale">I was involved in design and development of web based telecommunication operation support system.</span> </li>
                        <li><small class="causale">Technology used: Java, Struts, Flash</small></li>
                        <li><p><small class="text-muted">01/04/2004 - 31/01/2008</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>

</section>
