<section id="home">
  <div class="banner-container">
    <img src="img/banner-bg.jpg" alt="banner" />
    <div class="container banner-content">
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2>Scientist</h2>
          <p>I'm an author and co-author of <a href="http://scholar.google.com/citations?user=BU_T4KMAAAAJ&hl=en">30+</a> scientific publications.</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>Java developer</h2>
          <p>My proffestional journey starts with Java used to create enterpriste telecommunication solutions.</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>Ruby developer</h2>
          <p>Write it fast, let's look your code beautifully - this a what I like in ruby and ruby on rails.</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>Teacher</h2>
          <p>I teach young students to get familiar with distributed computing.</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>TDD, BDD enthusiast</h2>
          <p>Red, green, refactor.</p>
          <div class="da-img"></div>
        </div>
        <!--
        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
        -->
      </div>
    </div>
  </div>
</section>