<section id="portfolio" class="page-section section appear clearfix secPad">
  <div class="container">
    <div class="heading text-center">
      <!-- Heading -->
      <h2>Last projects</h2>
      <p>Bellow you can find more information about last projects I was involved in.</p>
    </div>

    <div class="row">
    <!--
        <nav id="filter" class="col-md-12 text-center">
            <ul>
                <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".webdesign">Web Design</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".photography">Photography</a></li>
                <li><a href="#" class="btn-theme btn-small" data-filter=".print">Print</a></li>
            </ul>
        </nav>
    -->
      <div class="col-md-12">
          <div class="row">
            <div class="portfolio-items isotopeWrapper clearfix" id="3">
              <article class="col-sm-4 isotopeItem">
                <div class="portfolio-item">
                  <img src="img/portfolio/plgapp.png" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="img/portfolio/plgapp.png" class="fancybox">
                      <h5>PlgApp</h5>
                      <i class="fa fa-arrows-alt fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-sm-4 isotopeItem">
                <div class="portfolio-item">
                  <img src="img/portfolio/atmosphere.png" alt="" />
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="img/portfolio/atmosphere.png" class="fancybox">
                      <h5>Atmosphere</h5>
                      <i class="fa fa-arrows-alt fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-sm-4 isotopeItem">
                  <div class="portfolio-item">
                      <img src="img/portfolio/rimrock.png" alt="" />
                      <div class="portfolio-desc align-center">
                          <div class="folio-info">
                              <a href="img/portfolio/rimrock.png" class="fancybox">
                                  <h5>Rimrock</h5>
                                  <i class="fa fa-arrows-alt fa-2x"></i></a>
                          </div>
                      </div>
                  </div>
              </article>


              <article class="col-sm-4 isotopeItem">
                  <div class="portfolio-item">
                      <img src="img/portfolio/dran.png" alt="" />
                      <div class="portfolio-desc align-center">
                          <div class="folio-info">
                              <a href="img/portfolio/dran.png" class="fancybox">
                                  <h5>Dran</h5>
                                  <i class="fa fa-arrows-alt fa-2x"></i></a>
                          </div>
                      </div>
                  </div>
              </article>

              <article class="col-sm-4 isotopeItem">
                  <div class="portfolio-item">
                      <img src="img/portfolio/gridspace.png" alt="" />
                      <div class="portfolio-desc align-center">
                          <div class="folio-info">
                              <a href="img/portfolio/gridspace.png" class="fancybox">
                                  <h5>GridSpace</h5>
                                  <i class="fa fa-arrows-alt fa-2x"></i></a>
                          </div>
                      </div>
                  </div>
              </article>

              <article class="col-sm-4 isotopeItem">
                  <div class="portfolio-item">
                      <img src="img/portfolio/datanet.png" alt="" />
                      <div class="portfolio-desc align-center">
                          <div class="folio-info">
                              <a href="img/portfolio/datanet.png" class="fancybox">
                                  <h5>DataNet</h5>
                                  <i class="fa fa-arrows-alt fa-2x"></i></a>
                          </div>
                      </div>
                  </div>
              </article>

              <article class="col-sm-4 isotopeItem">
                  <div class="portfolio-item">
                      <img src="img/portfolio/plankrk.png" alt="" />
                      <div class="portfolio-desc align-center">
                          <div class="folio-info">
                              <a href="img/portfolio/plankrk.png" class="fancybox">
                                  <h5>PlanKRK</h5>
                                  <i class="fa fa-arrows-alt fa-2x"></i></a>
                          </div>
                      </div>
                  </div>
              </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>